{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_tresipuntimportgc/gc/desc_form_component

  Card of a Google Form attached to a Classroom item, embedded in an iframe.

  Classes required for JS:
  * none

  Data attributes required for JS:
  * none

  Context variables required for this template:
  * title - form title
  * formurl - URL of the form to embed

  Example context (json):
  {
    "title": "Unit 1 quiz",
    "formurl": "https://docs.google.com/forms/d/e/example/viewform"
  }
}}
<div class="card desc_form_component" style="display: flex; flex-direction: row; margin-top: 15px">
    <div class="card-body">
        <h4 class="card-title">{{ title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{# str }} form, local_tresipuntimportgc {{/ str }}</h6>
        <iframe src="{{ formurl }}" title="{{ title }}" height="600"
                style="width: 100%; border: 0;"></iframe>
    </div>
</div>
