{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_tresipuntimportgc/import_page

  Import Course of Google Classroom

  Classes required for JS:
  * none

  Data attributes required for JS:

  Context variables required for this template:
  * none

  Example context (json):
  {
    "": "" }
}}
<div class="local_tresipuntimportgc_import_page" data-region="local_tresipuntimportgc_import_page">
    <h3>{{#str}}classroom_courses, local_tresipuntimportgc{{/str}}</h3>
    <hr>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="allchecks">
        <label class="custom-control-label" for="allchecks">{{#str}}selectallcourses, local_tresipuntimportgc{{/str}}</label>
    </div>
    <br>
    {{# has_error }}
    <div class="alert alert-danger" role="alert">
        {{ error_msg }}
    </div>
    {{/ has_error }}
    <ul class="list-group list-group-flush" data-region="content-classroom-courses" data-region="content-courses">
        {{# courses }}
            <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{ id }}" data-id="{{ id }}" data-ownerId="{{ ownerId }}"
                           data-coursename="{{ name }}" data-room="{{ room }}">
                    <label class="custom-control-label" for="{{ id }}">
                        <a href="{{ alternateLink }}" target="_blank">{{ name }}</a>
                    </label>

                    <button class="ml-auto icon-no-margin icon-size-3 btn text-reset"
                            type="button"
                            data-toggle="collapse"
                            data-target="#edit_{{ id }}"
                            aria-expanded="false"
                            aria-controls="edit_{{ id }}">
                        <i class="icon fa fa-pencil"></i>
                    </button>
                    <div>
                        <span class="badge badge-info">{{ room }}</span>
                        <span class="badge badge-light">{{ courseState }}</span>
                    </div>


                    <div class="collapse" id="edit_{{ id }}">
                        <div class="card card-body">
                            <form data-form="{{ id }}">
                                <div class="form-row">
                                    <div class="col-md-5 mb-3">
                                        <label for="name-{{ id }}">
                                            {{#str}}uniquename_course, local_tresipuntimportgc{{/str}}
                                            <button type="button" class="btn helplabel" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{# str }} uniquename_course_help, local_tresipuntimportgc {{/ str }}">
                                                <i class="fa fa-question-circle text-info" aria-hidden="true"></i>
                                            </button>
                                        </label>
                                        <input type="text" class="form-control" id="name-{{ id }}" value="{{ name }}">

                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="category-{{ id }}">
                                            {{#str}}select_category, local_tresipuntimportgc{{/str}}
                                            <button type="button" class="btn helplabel" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{# str }} select_category_help, local_tresipuntimportgc {{/ str }}">
                                                <i class="fa fa-question-circle text-info" aria-hidden="true"></i>
                                            </button>
                                        </label>
                                        <select id="category-{{ id }}" class="form-control">
                                            {{# categories }}
                                                <option value="{{ id }}">{{ name }}</option>
                                            {{/ categories }}
                                        </select>
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        <input type="checkbox" class="custom-control-input" id="visible-{{ id }}" checked>
                                        <label class="custom-control-label" for="visible-{{ id }}">{{#str}}course_visible, local_tresipuntimportgc{{/str}}</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {{/ courses }}
    </ul>
    <br>
    <button class="btn btn-primary" data-action="createcourses" disabled>{{#str}}createcourses, local_tresipuntimportgc{{/str}}</button>
    <hr>
</div>
{{#js}}
    require(['local_tresipuntimportgc/importpage'],
        function(Controller) {
            Controller.init('[data-region="local_tresipuntimportgc_import_page"]');
        }
    );
{{/js}}
